/* modal.css */
.custom-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 400px;
    width: 100%;
    max-height: 80vh;
    overflow-y: auto;
    z-index: 1000;
  }
  
  .custom-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-control {
   display: flex;
   flex-direction: column;
   gap: 1rem;
  }
  
  .button-group {
    margin-top: 20px;
  }
  
  .button-modal {
    padding: 8px 16px;
    margin-right: 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    width: 5rem;
  }
  
  .btn-secondary {
    padding: 8px 16px;
    margin-right: 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #cacaca;
    color: #fff;
    width: 5rem;
  }

  .custom-modal>h2{
    text-align: center;
  }

  .form-control>div>input{
    padding: 0.5rem;
    border-radius: 5px;
    border: solid 1px #0000005d;
    width: 70%;
  }

  .form-control>div{
    width: 100%;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
  }
  
  .form-control>div>label{
    font-weight: bold;
    font-size: 1rem;
  }