.App {
    position: relative;
    height: 100vh;
  }
  
  .cabana-button {
  
    padding: 10px 20px;
    background-color: #7E2726;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    max-height: 35px;
    max-width: 234px;
  }
  
  .cabana-button:hover {
    background-color: #0056b3;
  }
  
 .acomodacao {
  display:flex;
 }
 
 
.button {
  display: flex;
  flex-direction: column;
  
}
.agenda-content {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.acomodacao-content {
  width: 100%;
}
.agenda {
  width: 80%;
}